.Background{
    background-image: url(../../images/woman_overlay.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh
}


.Container{
    width:80%;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    /* padding-top: 347px */
}

.Left{
    width: 50%
}



.Logo img{
    margin-left: 200px
}

.Left h1{
    padding-top: 250px;
    padding-left: 80px;
    color:#65b765;
    margin:0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
}
.Left h4{
    color:white;
    padding-left: 80px;
    margin:0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.Right{
    width: 80%;
    background-color:white;
    height: 550px;
    /* margin-top: 40px; */
    border-radius: 2%;
    margin: 0 auto;
}

.Right p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-left: 39px;
    padding-top: 22px;
    display: block;
    
}

.Right p a{
    text-decoration: none;
    color:#011627;
}

.Right h3{
    margin: 0;
    padding: 0;
    padding-left: 60px;
    padding-top: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color:#65B765;
}

.Warning{
    text-align: center;
    padding-top: 115px;
    color: white;
}

Button a{
    text-decoration: none;
    color:white
}



@media screen and (min-width: 1200px){

    .Background{
        background-image: url(../../images/woman_overlay.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100vh
    }
    
    
    .Container{
        width:80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .Left{
        width: 50%
    }
    
    .Logo{
        margin-top: 350px;
    }
    
    .Logo img{
        margin-left: 200px
    }
    
    .Left h1{
        padding-top: 250px;
        padding-left: 80px;
        color:#65b765;
        margin:0;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 65px;
    }
    .Left h4{
        color:white;
        padding-left: 80px;
        margin:0;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    }
    
    .Right{
        width: 30%;
        background-color:white;
        height: 550px;
        margin-top: 40px;
        border-radius: 2%;
    }
    
    .Right p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        padding-left: 39px;
        padding-top: 22px;
        display: block;
        
    }
    .Right p a{
        text-decoration: none;
        color:#011627;
    }
    
    .Right h3{
        margin: 0;
        padding: 0;
        padding-left: 60px;
        padding-top: 90px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        color:#65B765;
    }
    
    .Warning{
        text-align: center;
        padding-top: 115px;
        color: white;
    }
    
    Button a{
        text-decoration: none;
        color:white
    }

}