.Header{
    margin-left: 20px;
    padding-top:20px
}

.Navigation{
    display: flex;
    width: 100%;
    justify-content: flex-end; 
}

.Backlink{
    padding-left: 120px;
    /* padding-top: 20px; */
    margin-top: 36px;
    display: block;
    text-decoration: none;
    color: #65B765;

}

.Button{
    padding:12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #65B765;
    /* margin-left: 303px; */
    margin-top: 30px;
    outline: none;
    border:none;
    border-radius: 5px;
    color:white
}

.DisabledButton{
    padding:12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #65B765;
    /* margin-left: 303px; */
    margin-top: 30px;
    outline: none;
    border:none;
    border-radius: 5px;
    color:white;
    opacity:0.5
}