.Button{
    padding:12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #65B765;
    /* margin-left: 290px; */
    /* margin-top: 30px; */
    margin: 20px auto;
    outline: none;
    border:none;
    border-radius: 5px;
    color:white;
    display:block
}

.BackDrop{
    width:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:1;
    height:100%;
    position:absolute
}

.Modal{
    left:100px;
    width:350px;
    margin:0 auto;
    background-color:white;
    height:300px;
    z-index:2;
    position:absolute;
    top:100px;
    border-radius:3%
}

@media screen and (min-width: 1200px){

    .Button{
        padding:12px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #65B765;
        /* margin-left: 290px; */
        /* margin-top: 30px; */
        margin: 20px auto;
        outline: none;
        border:none;
        border-radius: 5px;
        color:white;
        display:block
    }
    
    .BackDrop{
        width:100%;
        background-color:rgba(0,0,0,0.5);
        z-index:1;
        height:100%;
        position:absolute
    }
    
    .Modal{
        left:500px;
        width:350px;
        margin:0 auto;
        background-color:white;
        height:300px;
        z-index:2;
        position:absolute;
        top:100px;
        border-radius:3%
    }


}