.Btn{
    padding: 10px;
    width: 70px;
    /* display: block; */
    /* margin: 25px auto; */
    background-color: #3d2ec9;
    border: 0px;
    color:white;
    border-radius: 2%;
    margin: 5px;
}

.Btn2{
    padding: 10px;
    width: 70px;
    /* display: block; */
    /* margin: 25px auto; */
    background-color: #e62c1e;
    border: 0px;
    color:white;
    border-radius: 2%;
    margin: 5px;
}