.Container{
    width: 85%;
    margin-left: 69px;
}

.TabNav{
    display:flex;
    justify-content: space-between;
    width:30%;
    color:rgba(1, 22, 39, 0.3)
}

.TabNav a{
    text-decoration: none;
    padding-bottom: 10px;
}

.Background{
    width: 100%;
    min-height: 400px;
    background-color: white;
    margin-top: 20px;
}


.Btn{
    padding: 15px;
    width: 150px;
    display: block;
    /* margin: 25px auto; */
    background-color: #65b7b5;
    border: 0px;
    color:white;
    border-radius: 2%;
}

.BtnCreate{
    padding: 15px;
    width: 150px;
    display: block;
    margin: 25px auto;
    background-color: #65b7b5;
    border: 0px;
    color:white;
    border-radius: 2%;
}

.BtnDelete{
    padding: 10px;
    width: 100px;
    display: block;
    margin: 20px auto;
    background-color: #eb2012;
    border: 0px;
    color:white;
    border-radius: 2%;
}

.BtnUpdate{
    padding: 10px;
    width: 100px;
    display: block;
    margin: 20px auto;
    background-color: #0e7731;
    border: 0px;
    color:white;
    border-radius: 2%;
}


.Paper{
    position: absolute;
    width:400px;
    background-color: white;
    border: '2px solid #000';
    box-shadow:'grey';
    padding: 5px;
    top: 100px;
    left:500px;
    height:60vh;
    overflow-y: scroll;
    outline: none;
  }

  .DeleteModal{
    position: absolute;
    width:400px;
    background-color: white;
    /* border: '2px solid #000'; */
    box-shadow:'grey';
    padding: 5px;
    top: 100px;
    left:500px;
    height:35vh;
    outline: none;
  }

  .Paper p{
      padding-left: 26px;
  }
 
  .TabHeader{
     display: flex;
     justify-content: space-between; 
  }

  .Inp{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #65b7b5;
    color: gray;
    width: 80%;
    margin: 5px auto;
    display: block;
    padding: 5px;
    outline:none;
}

.Inp:active{
    border: none;
}


  @media screen and (max-width: 700px){
    .Container{
        width: 100%;
        margin: 0 auto;
    }
    
    .PackageContainer{
        position: relative;
        display: block;
        width:70%;
    }
    
    .Package{
        width:20%;
    }

    .TabHeader{
        display: flex;
        flex-direction: column-reverse;
     }

     .TabNav{
        display:flex;
        justify-content: space-between;
        width:100%;
        color:rgba(1, 22, 39, 0.3);
        /* margin-left: 5px; */
        margin-top:10px,
     }

     .Paper{
        position: absolute;
        width:400px;
        background-color: white;
        border: '2px solid #000';
        box-shadow:'grey';
        padding: 5px;
        top: 10px;
        left:10px;
        height:60vh;
        overflow-y: scroll;
        outline: none;
      }

      .DeleteModal{
        position: absolute;
        width:400px;
        background-color: white;
        /* border: '2px solid #000'; */
        box-shadow:'grey';
        padding: 5px;
        top: 10px;
        left:10px;
        height:35vh;
        outline: none;
      }
     
}