.Inp{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #65b7b5;
    color: gray;
    width: 80%;
    margin: 10px auto;
    display: block;
    padding: 10px;
    outline:none;
}





.Button{
    padding:12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #65B765;
    margin-left: 290px;
    margin-top: 30px;
    outline: none;
    border:none;
    border-radius: 5px;
    color:white
}


.Container{
    margin-left: 30px;
    z-index: 0;
    display:flex;
}

.PackageContainer{
    position: relative;
    display: flex;
    width:70%;
}

.Package{
    width:20%;
}


@media screen and (max-width: 700px){
    .Container{
        margin-left: 30px;
        z-index: 0;
        display:flex;
        flex-direction: column-reverse;
    }
    
    .PackageContainer{
        position: relative;
        display: block;
        width:70%;
    }
    
    .Package{
        width:20%;
    }
}