.text{
    text-align: right;
    display: block;
    font-weight: bold;
    padding-right: 50px;
}

.CardHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.CardHeader h3{
    margin: 0;
}

