.Background{
    background-image: url(../../images/woman_overlay.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh
}


.Container{
    width:80%;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
}

.Left{
    width: 100%
}

.Left h1{
    padding-top: 250px;
    padding-left: 10px;
    color:#65b765;
    margin:0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 65px;
    text-align: center;
}
.Left h4{
    color:white;
    padding-left: 11px;
    margin:0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
.Navlink{
   
    text-align: left;
    padding: 0;
}
.Navlink a{
    text-decoration: none;
    color:#011627;
}
.Right{
    width: 80%;
    background-color:white;
    height: 500px;
    margin:0 auto;
    border-radius: 2%;
}

/* .Right p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-left: 39px;
    padding-top: 22px;
    display: block;
    
} */


.Right h3{
    margin: 0;
    padding: 0;
    padding-left: 35px;
    /* padding-top: 90px; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color:#65B765;
    display:none
}

.Right p{
    color: red;
    text-align: center;
}


@media screen and (min-width: 1200px){

    .Background{
        background-image: url(../../images/woman_overlay.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100vh
    }
    
    
    .Container{
        width:80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .Left{
        width: 50%
    }
    
    .Left h1{
        padding-top: 250px;
        padding-left: 80px;
        color:#65b765;
        margin:0;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 65px;
    }
    .Left h4{
        color:white;
        padding-left: 80px;
        margin:0;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    }
    
    .Right{
        width: 30%;
        background-color:white;
        height: 500px;
        margin-top: 40px;
        border-radius: 2%;
    }
    
    .Right p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        padding-left: 39px;
        padding-top: 22px;
        display: block;
        
    }
    .Right p a{
        text-decoration: none;
        color:#011627;
    }
    
    .Right h3{
        margin: 0;
        padding: 0;
        padding-left: 60px;
        padding-top: 90px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        color:#65B765;
    }
    
    .Right p{
        color: red;
        text-align: center;
    }

    .Loader{
        height: 100px;
        width: 100px;
        margin: 0 auto;
        display: block;
    }

    .Navlink{
        text-align: left;
        /* padding: 0; */
        font-weight: bold;
    }
    .Navlink a{
        text-decoration: none;
        color:#011627;
        text-align: left;
    }

}