.Container{
    margin-top: 100px;
}

.Button{
    padding:10px;
    background-color: #65B765;
    margin-left: 415px;
    outline: none;
    border:none;
    border-radius: 5px;
    color:white
}

.CardContainer{
    /* background-color: #65B765; */
    width:90%;
    margin:0 auto;
    height:500px
}

.Card{
    width:184px;
    height:185px;
    background-color: white;
}

.AddButton{
    margin-left: 68px;
    margin-top: 47px;
}