.Footer{
    width: 100%;
    min-height: 322px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: left;
}


.Footer1,.Footer2,.Footer3{
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    padding:0
}

.Footer1 ul{
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}

.Footer1 p{
    
    margin: 0;
    padding: 0;
}








@media screen and (min-width:1200px){
    .Footer{
        width: 80%;
        min-height: 322px;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        text-align:left;
     }
     
     .Footer1,.Footer2,.Footer3{
         width: 30%;
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 26px;
     }
     
     .Footer1 ul{
         list-style-type: none;
     }
}    
