.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2.3fr 0.1fr 1fr;
    grid-template-rows: 1fr 2.1fr 0.1fr;
    gap: 1px 1px;
    grid-template-areas: "image company-card role role" "personals information skillset skillset" "personals information . .";
    width: 90%;
    margin: 0 auto;
  }
  
.personals {
     grid-area: personals; 
     margin-top: 70px;
}

.personals a{
    text-decoration: none;
    color: rgba(1, 22, 39, 0.5);
    font-weight: 500;
    font-size: 16px;
}

.personals a.active,
.personals a:active{
    color:red
}
  
.information { 
    grid-area: information;
    background-color: #FFFFFF;
    margin-top: 50px;
    height: 300px;
 }
  
.skillset { 
    grid-area: skillset;
    margin-top: 50px;
 }
  
.image {
     grid-area: image; 
}
  
.companyCard { 
    grid-area: company-card;
    background-color: #FFFFFF;
    width: 85%;
    border-left: 2px solid #53BEC8;
  
}

.companyCard div{ 
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
  
.role { 
    grid-area: role; 
    background-color: #FFFFFF;
    border-left: 2px solid #53BEC8;
    width: 85%;
}


.CompanyInfo{
    display: flex;
}

.CompanyInfoList{
    display: flex;
   
}

.CompanyInfoList h5{
    margin: 5px
}

.PersonalInfo{
    display:flex
}

.PersonalInfo h5{
    margin:5px
}
.RoleInfo{
    display:flex
}


.p-col-d {
    display: none;
}
.p-col-m {
    display: inline-block;
}

.subSkillset{
    margin-bottom: 5px;
}

.subSkillset p:first-child{
    font-size: 16px;
    color:black;
    display:block
}

.subSkillset p:last-child{
    font-size: 16px;
    color:black;
    display:block
}