.Inp{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #65b7b5;
    color: gray;
    width: 80%;
    margin: 10px auto;
    display: block;
    padding: 10px;
    outline:none;
}


.MobileButton{
    display:none
}


.Button{
    padding:12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #65B765;
    margin-left: 290px;
    margin-top: 30px;
    outline: none;
    border:none;
    border-radius: 5px;
    color:white
}


@media screen and (max-width: 700px){
    .MobileButton{
       display:block;
       padding:12px;
       background-color:#65B765 ;
       margin-top: 30px;
       border-radius: 5px;
       color:white;
       outline: none;
       border:none;
    }

    .Button{
        display:none
    }
}